<!DOCTYPE html>
<html>

<head>
<title>Parkinson Detection System</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Parkinson Detection System</h1>

<div class="tabs">

<button onclick="openTab('importance')">Feature Importance</button>
<button onclick="openTab('bias')">Bias Variance</button>
<button onclick="openTab('prediction')">Prediction</button>

</div>

<div id="importance" class="tabcontent">

<h2>Feature Importance</h2>
<img src="/static/feature_importance.png" width="600">

</div>

<div id="bias" class="tabcontent">

<h2>Bias Variance Curve</h2>
<img src="/static/learning_curve.png" width="600">

</div>

<div id="prediction" class="tabcontent">

<h2>Prediction</h2>

<input id="inputFeatures" placeholder="Enter features separated by comma">

<button onclick="predict()">Predict</button>

<p id="result"></p>

</div>

<script src="/static/script.js"></script>

</body>

</html>